<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbstar.mapper.ReviewMapper">

    <insert id="insert" parameterType="review">
        INSERT INTO review
        VALUES (review_seq.NEXTVAL,#{userId},#{itemId},#{title},#{review},#{rate})
    </insert>

    <select id="select" parameterType="Integer" resultType="review">
        SELECT * FROM review WHERE id=#{id}
    </select>

    <select id="selectall" resultType="review">
        SELECT * FROM review
    </select>

    <delete id="delete" parameterType="String">
        DELETE FROM member WHERE member_id=#{memberId}
    </delete>

</mapper>